<div class="card-background">
    <div class="card-layout">
        <div class="card-image">
            <img src="../assets/images/image-equilibrium.jpg">
            <div class="card-image-overlay">
                <img class="card-view-icon" src="../assets/images/icon-view.svg">
            </div>
        </div>

        <div class="card-description">
            <h2>Equilibrium #3429</h2>
            <p>Our Equilibrium collection promotes balance and calm.</p>

            <div class="card-info card-eth"><img class="spacer" src="../assets/images/icon-ethereum.svg">0.041 ETH</div>
            <div class="card-info card-time-left"><img class="spacer" src="../assets/images/icon-clock.svg">3 days left
            </div>
        </div>

        <hr>

        <div class="card-user-info">
            <img src="../assets/images/image-avatar.png">
            <span>Coded by <span class="card-creator">Shiiron</span></span>
        </div>
    </div>
</div>