<div class="card-background center">
    <div class="card-layout">
        <div class="card-image">
            <img src="../assets/images/image-equilibrium.jpg">
            <div class="card-image-overlay center">
                <img class="card-view-icon" src="../assets/images/icon-view.svg">
            </div>
        </div>

        <div class="card-description">
            <h2 class="interactive margin-spacer">Equilibrium #3429</h2>
            <p>Our Equilibrium collection promotes balance and calm.</p>

            <div class="card-info card-eth"><img class="spacer" src="../assets/images/icon-ethereum.svg">0.041 ETH</div>
            <div class="card-info card-time-left"><img class="spacer" src="../assets/images/icon-clock.svg">3 days left</div>
        </div>

        <hr class="separator">

        <div class="card-user-info">
            <img class="card-user-profile" src="../assets/images/image-avatar.png">
            <span>Creation of <span class="interactive">Jules Wyvern</span></span>
        </div>
    </div>
</div>